<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Math n physics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Physics and Math 
                    
{% load static %}
<img src="{% static "entries/media/Rida_pic.jpg" %}" alt="home" width="80" height="100"/>
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <a href="{% url 'add2' %}">IGCSE Math</a>
                    </div>
                </div>
            </article>

            
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>This could be a tilte</strong>
                            <br> 
                            paragraph in here. 
                        </p>
                    </div>
                </div>
            </article>

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Title could be here also</strong>
                            <br> paragraph should be here. 
                    
                        </p>
                    </div>
                </div>
            </article>

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Title Rida</strong>
                            <br> new paragraph
                        </p>
                    </div>
                </div>
            </article>

        </div>

    </section>

    <section class="section">
        <div class="container">

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <a href="{% url 'add' %}">IGCSE physics</a>
                    </div>
                </div>
            </article>

            
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Title </strong>
                            <br> new paragraph.
                        </p>
                    </div>
                </div>
            </article>

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Title again</strong>
                            <br> paragraph do it
                        </p>
                    </div>
                </div>
            </article>

            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Oliva M</strong>
                            <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque
                            tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
                        </p>
                    </div>
                </div>
            </article>

        </div>

    </section>
    <footer class="footer">
    </footer>
</body>

</html>
<div class="media-content">
    <div class="content">
        <a href="{% url 'add2' %}">Year_7 Math</a>
    </div>
</div>
<!DOCTYPE html>
<html>
<head>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>


<a href="#" class="button">Link Button</a>
<a href="#" class="button">Link Button</a>
<button class="button">Button</button>
<input type="button" class="button" value="Input Button">

</body>
</html>





{% load static %}
<img src="{% static "entries/media/rida_photo.jpg" %}" alt="home" width="80" height="120"/>